/* You can add global styles to this file, and also import other style files */

/* body {
    height: 100vh;
    background-image: url("/assets/img/home.jpg");
    background-size: cover;
    background-position: center;
}  */
body{
    height: 100vh;
    background-image: url("/assets/img/home.jpg");
    background-size: cover;
    background-position: center;
}
