*{

    
}

.sectionMagic section{
    /* margin-top: 300px; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
}

section.sectionContent {
    width: 100%;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.25);
    background: var(--clr);
}
#projets{
    color: #FFFFF0;
    text-shadow: 1px 0.1px 1px #FFFF00;
}
/* .magicText{
    color: #fff;
    font-size: 4em;
    display: flex;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-box-reflect: below -28px linear-gradient(transparent, #0002);
    
}

.magicText span:nth-child(n+2){
    color: #d1eb3e;
    font-weight: 700;
} */

