<section id ="accueil" class="sectionContent" style="--clr: #d1eb3e">
    <div class="accueilContent">
        <h1>Salut, je suis <span>Jérémy</span></h1>
        <div class="texte-anime">
            <h3>Full Stack Développeur</h3>
        </div>
        <p> Après un virage professionnel, je suis maintenant un Full Stack Développeur Junior, 
            certifié par ibCegos à Lille. Pendant 6 mois, j'ai plongé tête la première dans une 
            formation intensive qui m'a donné la magie du Développeur Front End (pour rendre les 
            choses jolies du côté utilisateur) et en tant que Développeur Back End (le magicien 
            des coulisses, avec la logique métier, les serveurs et les bases de données).

            <!-- Avant de m'aventurer dans le monde du code, j'étais le gars qui jonglait avec les ordinateurs 
            en tant que technicien informatique. J'ai même eu l'honneur de dompter un serveur Kwartz, et 
            de m'essayer aux active directory de Windows serveur ! Ces expériences m'ont transformé en une 
            sorte d'homme-à-tout-faire de l'informatique, du dépannage des systèmes aux défis survoltés de 
            la gestion de serveurs. -->
            
            <!-- Maintenant, j'aimerais réaliser un rêve professionnel qui me tient à cœur : devenir un DevOps. 
            Imaginez un peu, réunir le monde du développement et des opérations dans une joyeuse harmonie ! 
            Mon but ultime est d'apporter ma pierre à l'édifice de l'amélioration continue des processus, 
            de l'automatisation des tâches et de la mise en place de solutions ultra robustes pour simplifier 
            le déploiement et la maintenance des applications. -->
            
            Bref, je suis hyper motivé et prêt à tout déchirer pour atteindre ces objectifs. Si vous êtes 
            aussi excités que moi par ce genre de projets, je suis sûr qu'on pourrait faire du bon travail 
            ensemble !
        </p>
        <div class="bouttonHome">
            <a href="#" class="btn">Engagez moi</a>
            <a href="#" class="btn">Discutons</a>
        </div>
        <div class="accueil-sci">
            <a href="#"><fa-icon [icon]="facebook"></fa-icon></a>
            <a href="#"><fa-icon [icon]="twitter"></fa-icon></a>
            <a href="#"><fa-icon [icon]="linkedin"></fa-icon></a>
        </div>
    </div>
   
    <div class="accueil-imgHover"></div>
</section>
<section id="projets" class="sectionContent" style="--clr: #16b84e">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. 
Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, 
dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper 
congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est 
eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, 
scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus 
volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo 
in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. 
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing 
ante non diam sodales hendrerit.
Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa 
suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, 
nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque 
rhoncus nunc et augue. Integer id felis. Curabitur aliquet pellentesque diam. 
Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, 
consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. 
Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue 
eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum 
posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. 
Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, 
dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper 
congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est 
eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, 
scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus 
volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo 
in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. 
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing 
ante non diam sodales hendrerit.
Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa 
suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, 
nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque 
rhoncus nunc et augue. Integer id felis. Curabitur aliquet pellentesque diam. 
Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, 
consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. 
Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue 
eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum 
posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna.

</section>
<section id="apropos" class="sectionContent" style="--clr: #081b29">
    <h2 class="heading">A propos de <span>Moi</span></h2>
    <div class="apropos-img">
        <img src="../../../assets/img/apropo081b29carre.jpg" alt="">
        <span class="cercle"></span>
    </div>
    <div class="apropos-contenue">
        <h3>Full Stack Développeur</h3>
        <p>
            Après mon expérience en tant que développeur et technicien informatique/serveur 
            pour la Chambre de Commerce et d'Industrie de Calais, j'ai plongé dans le monde du 
            code en gérant un projet d'envergure. Ces années ont été cruciales pour l'acquisition 
            d'une expertise en développement web, notamment en HTML, CSS, PHP, ainsi qu'en 
            gestion de bases de données Oracle. Par la suite, j'ai choisi de poursuivre dans le domaine 
            du technicien informatique pour être plus proche de l'utilisateur.

            En tant que technicien, avec cinq années d'expérience, j'ai développé des compétences 
            polyvalentes dans divers domaines de l'informatique. Je suis compétent en dépannage 
            informatique, en administration système et en support technique, avec une expertise reconnue 
            dans la gestion des périphériques et la sécurité informatique.

            Après mon emploi dans un Lycée en tant que technicien informatique, j'ai décidé de me reconvertir
            dans le BTP en commençant par des travaux de manutention et en apprenant avec les ouvriers sur les
            chantiers ou j'étais présent, pour éventuellement faire des travaux intérieur & extérieur. 
            
            Cependant, ma reconversion a été interrompue par un accident, cet événement m'a rendu RQTH à 
            moins de 50%, m'obligeant à reconsidérer mes choix professionnels. 
            Malgré cette épreuve, ma passion pour l'informatique est restée intacte,
            et j'ai décidé de revenir à mes premiers amours, le développement.

            Pendant ma convalescence de plus d'un an 2022/2023, j'ai trouvé du réconfort et une nouvelle 
            passion dans l'élevage de Bergers Blancs Suisses. Un élevage familial que j'ai fondé, 
            "L'Étoile du Loup Blanc", est le fruit de mon amour pour cette race et de mon désir de 
            rendre heureux les futurs propriétaires, cet passion pour les animaux m'a conduit à obtenir l'ACACED
            avec option Chiens et Chats, me permettant de proposer des services de pension, de dogsitting 
            et de transport pour nos compagnons à quatre pattes.

            Quelques mois après ma convalescence, j'ai eu la chance que France Travail me propose une POEC 
            pour être formé en 6 mois au métier de Développeur Java JEE par l'AFPA de Roubaix et IbCegos Lille 
            que j'ai validé le 19/02/2024.

            Aujourd'hui, fort de mon expérience en informatique et de ma reconversion, je suis animé 
            par un rêve professionnel : devenir DevOps. Je souhaite réunir le monde du développement 
            et des opérations pour contribuer à l'amélioration continue des processus, à l'automatisation 
            des tâches et à la mise en place de solutions robustes pour simplifier le déploiement et la 
            maintenance des applications. Mon objectif est de travailler de préférence sur Microsoft Azure, 
            mais je suis ouvert à toutes les opportunités qui se présenteront à moi.

            Je suis actuellement à la recherche d'un emploi e ntant que Developpeur Full Stack / Front / Backend
            Java JEE ou d'une alternance dans le domaine du DevOps, et je suis convaincu que mon expérience, 
            ma passion et ma détermination seront des atouts précieux pour toute équipe. N'hésitez pas à 
            me contacter pour discuter de collaborations potentielles et de projets passionnants à venir.
        </p>

        <div class="bouttonHome btns">
            <a href="#" class="btn">En savoir plus</a>
        </div>
    </div>
    
</section>
<section id="diplomes" class="sectionContent">
    <h2 class="heading">Mon <span>Parcours</span></h2>

    <div class="diplomes-lignes">
        <div class="diplomes-colonnes">
            <h3 class="titre">Diplômes</h3>

            <div class="boite-diplomes">
                <div class="contenue-diplomes">
                    <div class="contenue">
                        <div class="annee"><fa-icon [icon]="calendar"></fa-icon> 2017 - 2018</div>
                        <h3>Diplome de KKCHOSE</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, 
                            reiciendis. Consectetur mollitia fugit deleniti aspernatur ullam 
                            nostrum debitis rerum sint.
                        </p>
                    </div>
                </div>
                <div class="contenue-diplomes">
                    <div class="contenue">
                        <div class="annee"><fa-icon [icon]="calendar"></fa-icon> 2018 - 2019</div>
                        <h3>Diplome de KKCHOSE</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, 
                            reiciendis. Consectetur mollitia fugit deleniti aspernatur ullam 
                            nostrum debitis rerum sint.
                        </p>
                    </div>
                </div>
                <div class="contenue-diplomes">
                    <div class="contenue">
                        <div class="annee"><fa-icon [icon]="calendar"></fa-icon> 2019 - 2020</div>
                        <h3>Diplome de KKCHOSE</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, 
                            reiciendis. Consectetur mollitia fugit deleniti aspernatur ullam 
                            nostrum debitis rerum sint.
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="diplomes-colonnes">
            <h3 class="titre">Experiences</h3>

            <div class="boite-diplomes">
                <div class="contenue-diplomes">
                    <div class="contenue">
                        <div class="annee"><fa-icon [icon]="calendar"></fa-icon> 2017 - 2018</div>
                        <h3>Developpeur de KKCHOSE - entreprise</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, 
                            reiciendis. Consectetur mollitia fugit deleniti aspernatur ullam 
                            nostrum debitis rerum sint.
                        </p>
                    </div>
                </div>
                <div class="contenue-diplomes">
                    <div class="contenue">
                        <div class="annee"><fa-icon [icon]="calendar"></fa-icon> 2018 - 2019</div>
                        <h3>Developpeur de KKCHOSE - entreprise</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, 
                            reiciendis. Consectetur mollitia fugit deleniti aspernatur ullam 
                            nostrum debitis rerum sint.
                        </p>
                    </div>
                </div>
                <div class="contenue-diplomes">
                    <div class="contenue">
                        <div class="annee"><fa-icon [icon]="calendar"></fa-icon> 2019 - 2020</div>
                        <h3>Developpeur de KKCHOSE - entreprise</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, 
                            reiciendis. Consectetur mollitia fugit deleniti aspernatur ullam 
                            nostrum debitis rerum sint.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- --bg-color-competences -->
<section id="competences" class="sectionContent" >
    Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Voluptatibus, inventore quam. 
        Fuga sapiente consequuntur quia cupiditate accusamus 
        commodi voluptate deserunt.
    
</section>
<section id="contact" class="sectionContent" style="--clr: #f7c59f">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. 
    Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, 
    dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper 
    congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est 
    eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, 
    scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus 
    volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo 
    in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. 
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing 
    ante non diam sodales hendrerit.
    Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa 
    suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, 
    nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque 
    rhoncus nunc et augue. Integer id felis. Curabitur aliquet pellentesque diam. 
    Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet, 
    consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. 
    Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id, congue 
    eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue non elementum 
    posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna.
</section>